.wrapper {
  position: fixed;
  top: calc(100vh - var(--height-footer));
  z-index: 1000;
  width: 100%;
  height: var(--height-footer);
  background-color: #130c1c;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: black;
}

.left,
.right {
  width: 30%;
}
.menu {
  width: 40%;
}

.left {
  display: flex;
  align-items: center;
  img {
    --width-image: 64px;
    width: var(--width-image);
    height: var(--width-image);
    border-radius: 10px;
    margin-right: 10px;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .namesong {
    font-size: 14px;
  }
  .namesinger {
    font-size: 12px;
  }
  .icon {
    margin-left: 20px;
    font-size: 17px;
  }
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .icon {
    margin-left: 10px;
  }
  .volume {
    width: 100px;
    height: 5px;
    border-radius: 10px;
    background-color: white;
    margin-left: 10px;
    cursor: pointer;
    .volumeNumber{
      height: 5px;
      background-color: red;
    }
  }
}

.menu {
  margin: 0 20px;
  .listMenu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    .item {
      --width-icon: 50px;
      width: var(--width-icon);
      height: var(--width-icon);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .icon {
      font-size: 20px;
    }
  }

  .timer {
    display: flex;
    align-items: center;
    .progress {
      height: 3px;
      background-color: red;
      width: 100%;
      border-radius: 10px;
      margin: 0 10px;
      cursor: pointer;
      .duration {
        background-color: white;
        height: 3px;
        border-radius: 10px;
        &:hover {
          height: 5px;
        }
      }
    }
  }
}